.contacto__secciones {
    height: 60rem;
    text-align: center;
    font-weight: 50;
    font-size: $fuente-mediana;
    color: map-get($color, $key: 1);

    @include tablet {
        height: 70rem;
    }

    @include desktop {
        height: 80rem;
    }
}

.contacto__secciones__formulario {

    input,
    textarea {
        width: 95%;
        border: none;
        background-color: map-get($color, $key: 3);
        border-bottom: 1px solid map-get($color, $key: 2);
    }

    input {
        height: 3rem;
        margin-bottom: 2rem;
    }

    textarea {
        height: 8rem;
        margin-bottom: 4rem;
    }
}

.contacto__secciones--contenido--contenedor--imagenes {
    display: none;

    @include desktop {
        display: flex;
        justify-content: left;
        height: 60rem;
    }
}

.contacto__secciones--contenido--imagen {
    height: 56rem;

    &:hover {
        transform: scale(1.03);
    }
}