$fuente-principal: '"Poppins", sans-serif';

.color--blanco {
    color: #f1f1e9;
}

.color--fondo--blanco {
    background-color: #ffffff;
}

.color--negro {
    color: #000000;
}

.color--fondo--negro {
    background-color: #000000;
}

.color--gris {
    color: #777777;
}

.color--fondo--gris {
    background-color: #777777;
}

.fuente--grande {
    font-size: 2rem;
}

.fuente--mediana {
    font-size: 1.6rem;
}

.fuente--chica {
    font-size: 1.2rem;
}

.fuente-negrita {
    font-weight: bolder;
}